<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>toeten</title>
</head>
<body>
Ich bin:
<form method="POST" action="/result">
    <select name="people_select">
        {% for person in people %}
        <option value="{{ person }}">{{ person }}</option>
        {% endfor %}
    </select>
    <button type="submit">Zeigs mir wen ich toeten soll!</button>
</form>

<form method="POST" action="/addthing">
    <input name="thing">
    <button type="submit">Füge das Ding hinzu!</button>
</form>

<a href="/friedhof">Friedhof</a>

</body>
</html>