<!--
Attributes:
- persons: list<str>
- nr_of_things: str
- running: str
- leaderboard: tuple<(str, str)> (required id game is running)
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TÖTEN</title>
</head>
<body>

<fieldset>
    <legend> Login </legend>
    <form method="POST" action="/session">
        <div>
            <label for="session_name"> Session: </label>
            <input name="session_name" id="session_name">
        </div>
        <div>
            <label for="player_name"> Spieler: </label>
            <input name="player_name" id="player_name">
        </div>
        <div>
            <button type="submit">Einloggen</button>
        </div>
    </form>
</fieldset>

</body>
</html>