<!--
Attributes:
- name: str
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TÖTEN</title>
</head>
<body>

{{ name }}, du bist noch nicht im Spiel. Damit du auch morden kannst startet ein neues Spiel.

<fieldset>
    <legend> Weiter </legend>

    <form method="GET" action="/friedhof">
        <button type="submit"> Zum Friedhof </button>
    </form>

    <form method="GET" action="/">
        <button type="submit"> Zurück </button>
    </form>
</fieldset>

</body>
</html>