<!--
Attributes:
- hash: str
-->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>TÖTEN</title>
</head>
<body>

<fieldset>
    <legend>Spiel: </legend>
    <form method="SET" action="/new_game">
        <div>
            <input type="hidden" name="hash" value="{{ hash }}">
            <button type="subit"> Neues Spiel starten </button>
        </div>
    </form>

    <form method="SET" action="/save_game">
        <div>
            <input type="hidden" name="hash" value="{{ hash }}">
            <button type="submit"> Spiel speichern </button>
        </div>
    </form>

    <form method="SET" action="/end_game">
        <div>
            <input type="hidden" name="hash" value="{{ hash }}">
            <button type="submit"> Spiel beenden </button>
        </div>
    </form>

</fieldset>

<fieldset>
    <legend>Weiter</legend>
    <form method="GET" action="/session">
        <input type="hidden" name="hash" value="{{ hash }}">
        <button type="submit"> Zurück </button>
    </form>
</fieldset>

</body>
</html>